.baslik
{
    color:#697184;
    background-color: orange;
    width: 200px;
    height: 100px;
    
}
.functional
{
    background-color: royalblue;
    color:burlywood;
    width: 200px;
    height: 100px;
    text-align: center;
}