$turquoise:#4ECDC4;
$light-turquoise:#d9f4f2;
$just-white:white;
$dark-turquoise:#00CED1;
$dark-green:#30928c;

.container{
    display:block;
    width:100%;
    max-width: 950px;
    margin: 50px auto;
    position:relative;
    padding-left:15px;
    padding-right: 15px;
}
.title
{
    color:$dark-green;
    font-size: 20px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
tr:nth-child(even)
{
  background-color:$just-white;
}

tr:nth-child(odd)
{
  background-color: $light-turquoise;
}

tr:first-child{
    background-color: $turquoise;
}
.customersTable
{
    border: 1px solid;
    border-color: black;
    width: 100%;  
    background-color: $light-turquoise;
    border-radius: 5px;
    font-size:25px;
}
.invoicetable
{
    border: 1px solid;
    border-color: black;
    width: 100%;  
    font-size: 23p;
}

.userForm
{
    border:  1px solid #30928c;
    width: 100%;
    display: block;
    background-image: linear-gradient(to right, rgba(204, 255, 255), rgba(255,0,0,0));
    box-sizing:border-box;
}
.formField
{
    display: block;
    float: left;
    z-index: 99;
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
    margin-bottom: 10px;
    padding-right: 30px;
    font-weight:bold;
    position: relative;
}
.formName
{
    display: block;
    font-size: 23px;
    float: left;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
}
.formName span{
    color:red;
    padding-right: 5px;
}
.formInput
{
    display: block;
    width: 85%;
    height: 20px;
    font-size: 17px;
    padding-left: 20px;
    border:1px solid $turquoise;
    border-radius: 15px;
    margin-left:25px;
    transition: 0.3s;
    position: relative;
}

// .formInput[type="text"]:focus {
//     border-color: #156760;
//     box-shadow: 0 0 8px 0 #156760;
    
//   }

.formButton
{
    display: block;
    width: 100%;
    position:relative;
    margin: 0 auto;
}
.formSubmit
{
    display:block;
    // width:10%;
    text-align: center;
    font-size:17px;
    margin: 0 auto;
    background-color: turquoise;
    border-color: turquoise;
    color:black;
    transition-duration: 0.4s;
    font-weight: bold;
    opacity: 0.6;
    margin-bottom: 5px;

}
.formSubmit:hover
{
    
    color:black;
    cursor: pointer;
    opacity: 1;
    transform: translateY(-5px);
}

.iconForm
{
    width: 100%;
    height: 100%;
    padding-left: 5px;
}
.messageField
{
    color: red;
    font-size: 12px;
    position: absolute;
    left: 27%;
    display: flex;   
}
.messageFieldRight
{
    position: absolute;
    right: 6%;
    color:red;
    font-size:12px;
}
.icons
{
        border: 2px solid  cornflowerblue;
        color:cornflowerblue;
        border-radius: 9px;
        float:left;
       // margin: 0 auto;
        height: 35px;
        width: 35px;
        margin-right: 5px;
        margin-top: -5px;
}
//   @media only screen and (min-width: 400px)
//   {
//       .formField
//       {
//           float: none;
//       }
//   }

//   @media only screen and (min-width: 768px)
//      {
         
//      }
@media  screen and (max-width: 600px) {
    .container{
      width: 600px;
      margin: 0 auto;
      display:block;
      }  
    .userform{
        // width: 50%;
        margin: 0 auto;
        // display:block;
        }  
    .formField{
        padding-right: 0px;
    }
}
  @media screen and (max-width: 992px) 
  {
      .formField
      {
        padding-right: 50px;
        width: 100%;

      }
      .formInput{
        width: 80%;
      }
      .iconForm{
         padding-left: 15px;
      }
  }
