
tr:nth-child(even)
{
  background-color: white;
}

tr:nth-child(odd)
{
  background-color: #d9f4f2;
}

tr:first-child{
    background-color: #4ECDC4;
}
.customersTable
{
    margin-left: 350px;
    border: 1px solid;
    border-color: black;
    width: 50%;  
    background-color: #d9f4f2;
    border-radius: 5px;
}
.invoicetable
{
    margin-left: 350px;
    border: 1px solid;
    border-color: black;
    width: 50%;  
}

.userForm
{
    
    border:  1px solid #30928c;
    width: 100%;
    display: block;
  
}
.formField
{
    display: block;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
    margin-bottom: 10px;
    padding-right: 30px;
}
.formName
{
    display: block;
    font-size: 17px;
    float: left;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
}
.formInput
{
    display: block;
    width: 100%;
    height: 20px;
    font-size: 17px;
    padding-left: 10px;
    border:1px solid #4ECDC4;
    border-radius: 15px;
}





